{
    margin: 0;
    padding
}




.cabecalho {
    background-color: #000000;
    color: white;
    display:flex;
justify-content: space-around;
align-items: center;


}
.cabecalho-imagem{
     width: 150px;
    
}

.cabecalho-lista-item{
display: inline block;
margin: 0 16px;


}


